div[id="app"] > div > :not(#wa-popovers-bucket), div[id="app"] > div > span > div > span > div > div{
  top: 0 !important;
  width: 100% !important;
  max-width: 100vw !important;
  height: 100% !important;
}
